@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --btn-color: #0D7F9C;
    --color-white: #FFFFFF;
    --circle: #2AC4EA;
    --almost-black: #383838;
    --content-black: #444444;
    --roboto-con-font: 'Roboto Condensed', sans-serif;
    --nunito-font: 'Nunito', sans-serif;
    --roboto-sans: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #212529;
}

/* ALL WRAP */
.wrapper {
    background-color: #FFFFFF;
}

.all-wrap {
    padding-block: 5rem;
    width: 90%;
    margin-inline: auto;
}

.team-info {
    margin-bottom: 3rem;
}

.team-info h1 {
    color: var(--almost-black);
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
}

.team-info p {
    font-size: 19px;
    font-family: var(--nunito-font);
    color: #676767;
    line-height: 30px;
}
/* ENDS */

/* CARD WRAP */
.card-wrap {
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.pro-image-wrap {
    position: relative;
    margin-bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    width: 130.26px;
    height: 130.26px;
    border-radius: 50%;
    padding: 7px;
    border: var(--circle) 1px solid;
}

.pro-image-wrap img {
    width: 100%;
    max-height: 100%;
    display: block;
}

.card {
    width: 354.67px;
    border: 1px solid #C4C4C4;
    padding: 2rem 2rem;
    border-radius: 4px;
}

.card > .name {
    font-size: var(--nunito-font);
    font-weight: 700;
    color: var(--content-black);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.21em;
}

.role {
    line-height: 2;
    color: var(--content-black);
}

.card__cont{
    font-size: var(--roboto-sans);
    color: var(--content-black);
    font-size: 16px;
    line-height: 24px;
}

.more {
    text-transform: uppercase;
    letter-spacing: 21%;
    line-height: 27.55px;
    font-weight: 400;
    color: #0D7F9C;
    text-decoration: none;
    display: inline-flex;
    margin-top: 1.5rem;
    margin-right: .5rem;
}

.arrow {
    color: #0D7F9C;
    margin-left: 5px;
    width: 50px;
}
/* CARD */


.full-pro {
    color: var(--color-white);
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--content-black);
}


/* use if needed
.pro-wrap::-webkit-scrollbar {
    display: none;
} */

.pro-wrap {
    width: clamp(325, 90%, 1093px);
    max-height: 90%;
    overflow-y: scroll;
    padding-block: 2rem;
    padding-inline: 2rem;
    margin-inline: auto;
    display: flex;
}

.pro-wrap :is(h1, p) {
    line-height: 2;
}

.trend {
    font-family: var(--nunito-font);
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--btn-color);
    width: 100%;
    padding-block: 1rem;
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-top: 2rem;
    letter-spacing: 0.21em;
    border: none;
}

.pro-right {
    width: 70%;
}

.pro-right h1 {
    font-family: var(--nunito-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    color: var(--color-white);
}

.pro-role {
    color: var(--color-white);
}


.narrative, .cont {
    font-family: var(--roboto-sans);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2rem;
    line-height: 24px;
}

.pro-left {
    width: 30%;
    padding-inline: 3rem;
    position: sticky;
    top: 0;
    left: 0;
}

.content-logo {
    display: flex;
    gap: 2rem;
}

.image-wrap {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 170px;
    border-radius: 50%;
    padding: 7px;
    margin-bottom: 2rem;
    border: var(--circle) 1px solid;
}

.image-wrap img {
    width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 50%;
}

.pro-video {
    margin-block: 1rem;
    width: 231px;
}

.cont-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
}

.comp-logo img {
    width: 100%;
    max-height: 100%;
    display: block;
}

@media screen and (max-width: 1080px) {

    .pro-wrap{
        display: block;
    }

    .pro-left {
        display: block;
        margin-bottom: 3rem;
        align-items: center;
        width: 100%;
        padding: 20px;
        position: unset;
    }

    .pro-left {
        padding: unset;
    }

    .pro-video {
        margin-inline: auto;
        width: 90%;
    }

    .pro-right {
        width: 100%;
    }

    .content-logo {
        display: block;
    }

    .cont-logo {
        margin-top: 2rem;
    }

}

@media screen and (max-width: 500px) {
    .trend {
        font-size: 15px;
    }

    .pro-video {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
   .pro-wrap {
      width: 325px;
      padding-inline: 10px;
   }
}